
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.user
.vs/
*.dir
ALL_BUILD*
ZERO_CHECK*
*/Debug
*/x64
build/
.vscode/